<a href="https://colab.research.google.com/github/riz1raj/CVPR/blob/master/03_sets_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sets --> unordered colllection of distnict elements

arr = {'cat','dog'}
print(arr)
print('cat' in arr)
print('dog' in arr)
print('fish' in arr)
arr.add('fish')
print('fish' in arr)
arr.remove('fish')
print(len(arr))

{'cat', 'dog'}
True
True
False
True
2

In [ ]:
set1 = {'cat', 'dog','fish','bird','gorilla'}
for a in set1:
  print(a)
for i,a in enumerate(set1): 
    print(i,a) #by using enumerate we get sl no

fish
bird
dog
gorilla
cat
0 fish
1 bird
2 dog
3 gorilla
4 cat

In [ ]:
#tuples --> immutable ordered values

#very much similar to a list
#tuples can used as a key in dictionary

t=(3,4)
print(t)
print(type(t))

d= {(a,a+1): a for a in  range(10)}
print(d)
print(d[t])

(3, 4)
<class 'tuple'>
{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
3