<a href="https://colab.research.google.com/github/riz1raj/CVPR/blob/master/builtin_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
a=5
print(a)
print(type(a))  #which type
print(a+1) #additional operation
print(a-1) #Subtract operation
print(a*2) #Multiplication operation
print(a/2) #Division operation
print(a//2) #int part of operation
print(a**2) #exponentiation operation
a +=1
print(a)
a *=2
print(a)
b=2.5
print(type(b))
print(b, b+1, b*2, b**2)

5
<class 'int'>
6
4
10
2.5
2
25
6
12
<class 'float'>
2.5 3.5 5.0 6.25

In [22]:
t= True
f= False
print(type(t))
print(type(f))
print(t and f) #logical AND
print(t or f) #logical OR
print(not t) #logical NOT
print(t != f) #logical XOR

<class 'bool'>
<class 'bool'>
False
True
False
True

In [37]:
s = 'hello'
print(s.capitalize()) #captialize the first character
print(s.upper()) #convert a string to upper case
print(s.rjust(50)) #right-justify the string with ** space
print(s.center(50)) #center a string
print(s.replace('l','ell')) # replaces all the instances of the string with the new sub string
print('      hello   '.strip(),'test')  #removing white space from the beginning or from the end

Hello
HELLO
                                             hello
                      hello
heellello
hello test

In [41]:
for i in range(5):
  print(i) #need to give tab 
arr =[1,2,3]
print(arr)

0
1
2
3
4
[1, 2, 3]